@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '../../assets/styles/mixins.scss';

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-size: 16px;
  white-space: nowrap;
}

.line1 {
  width: 100%;
  background-color: #EFF0F0;
  
  div {
    display: flex;
    width: 1450px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  
  div div {
    align-items: center;
    gap: 4px;
    flex: 1;
    p, a {
      color: #737373;
      font-size: 14px;
    }
  }
}

.line2 {
  @include flex(space-between, center, row, 30px );
  width: 1450px;
  margin: 0 auto;
  padding: 20px 0;

  .logo {
    @include flex($gap: 10px);
  }
  .logo div {
    @include flex(center, flex-start, column, 2px);
    height: 58px;
  }
  .logo div h1 {
    font-size: 30px;
    font-weight: 500;
    transform: scaleY(0.7);
    line-height: 0.7;
    letter-spacing: -1px;
  }
  .logo .logo-text p {
    font-size: 12px;
    color: #737373;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  .guarantee {
    @include flex-center;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    span {
      background-color: #CA0100;
      color: white;
      padding: 2px 8px;
      border-radius: 12px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    li a {
      color: #4F4F4F;
      text-decoration: none;;
      white-space: nowrap;
      font-size: 14px;
      &.active,
      &:hover { color: #CA0100; }
    }
  }

  .contact {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    div {
      @include flex(center, flex-end, column);
      div {
        @include flex-center(row, 10px);
        h1 {
          font-size: 24px;
        }
        span {
          padding: 1px 8px;
          border-radius: 50px;
          font-weight: 500;
          color: white; 
          background-color: #CA0100;
        }
      }
    }
  }
}

.suggestions {
  @include flex(space-between, center, row, 40px);
  width: 1450px;
  margin-left: auto;
  margin-right: auto;
  .menu {
    @include flex(space-between, top, row, 96px);
    width: 100%;
    list-style: none;
    margin: 10 0;
    font-weight: bold;
    li { position: relative; }
  }
  .menu-btn {
    width: 100%;
    background: none;
    border: none;
    color: #262626;
    display: inline-block;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font: inherit;
    &:hover { color: #CA0100; }
  }
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background: white;
    padding: 5px;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    &.show { display: block; z-index: 1;}
    li {
      padding: 5px 10px;
      white-space: nowrap;
      a {
        text-decoration: none;
        color: #262626;
        font-weight: normal;
        &:hover { color: #CA0100; }
      }
    }
  }
  .icons {
    display: flex;
    gap: 20px;
    .icon-wrapper {
      position: relative;
      font-size: 24px;
      color: #262626;
      .badge {
        position: absolute;
        top: -10px;
        right: -16px;
        background: #ca0100;
        color: #fff;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 20px;
      }
    }
  }
}