.car-card {
  margin-left: 25%;
  box-shadow: 0 8px 25px rgba(133, 147, 159, 1);
  position: relative;
  width: 446px;
  height: 449px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/images/city.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: 0;
    margin-top: 20px;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
  h1 { 
    font-size: 27px; 
    margin-bottom: -10px;
  }
  .notes {
    display: flex;
    p { 
      font-size: 14px; 
      color: #CA0100; 
      margin-left: 20px;
      width: 80px;
      white-space: wrap;
    }
  }
  .button-group {
    display: flex;
    gap: -8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 50px;
    width: 408px;
  }
  .red { background: #CA0100; color: #CA0100; z-index: 3;}
  .black { background: #222; color: #222; z-index: 2;}
  .gray { background: #777; color: #777; }
  .red:hover { background: #a00; color: #a00; }
  .black:hover { background: #111; color: #111; }
  .gray:hover { background: #666; color: #666; }
  .red span, .black span, .gray span {
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 14px;
  }
  .button {
    margin-left: -9px;
    position: relative;
    padding: 10px 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 0 10px 10px 0;
    &:first-child { border-radius: 8px 10px 10px 8px; margin-left: 0; }
  }
  .button::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    width: 0;
    height: 0;
    margin-top: 2px;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 19px solid currentColor;
    z-index: 1;
  }
  .small::after {
    margin-top: 3.6px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 12px solid currentColor;
    border-right: 5.6px solid transparent;
  }
  .small span {
    font-size: 14px;
    font-weight: 500;
  }
}