.car-card {
  box-shadow: 0 0px 30px rgba(117, 127, 136, 0.3);
  position: relative;
  width: 446px;
  height: 449px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  color: #262626;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/images/city.jpg");
    background-size: 200%;
    background-position: 55% 230%;
    transform: scaleX(-1);
    background-repeat: no-repeat;
    mask-image: linear-gradient(to right, black 10%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 10%, transparent 100%);
    filter: grayscale(85%) brightness(108%);
    opacity: 0.8;
    z-index: 0;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
  h1 { 
    font-size: 27px; 
    margin-bottom: -15px;
  }
  .notes {
    display: flex;
    margin-top: 10px;
    p { 
      font-size: 14px;
      font-weight: 600;
      color: #CA0100; 
      margin-left: 20px;
      width: 80px;
      white-space: wrap;
    }
  }
  .button-group {
    display: flex;
    gap: -8px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 50px;
    width: 408px;
  }
  .red { background: #CA0100; color: #CA0100; z-index: 3;}
  .black { background: #222; color: #222; z-index: 2;}
  .gray { background: #777; color: #777; }
  .red:hover { background: #a00; color: #a00; }
  .black:hover { background: #111; color: #111; }
  .gray:hover { background: #666; color: #666; }
  .red span, .black span, .gray span {
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 14px;
  }
  .button {
    margin-left: -9px;
    position: relative;
    padding: 10px 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 0 10px 10px 0;
    &:first-child { border-radius: 8px 10px 10px 8px; margin-left: 0; }
  }
  .button::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    width: 0;
    height: 0;
    margin-top: 2px;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-left: 19px solid currentColor;
    z-index: 1;
  }
  .small::after {
    margin-top: 3.6px;
    border-top: 13.7px solid transparent;
    border-bottom: 13.7px solid transparent;
    border-left: 12px solid currentColor;
    border-right: 5.6px solid transparent;
  }
  .small span {
    font-size: 12px;
    font-weight: 500;
  }
  .icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 8px;
    color: #737373;
  }
  .car-gift {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -15px;
    .car-image {
      width: 90%;
      height: auto;
    }
    .gift-offers {
      display: flex;
      flex-direction: column;
      align-items: top;
      gap: 12px;
      .gift-offer {
        display: flex;
        flex-direction: row;
        gap: 8px;
        .gift-icon {
          background-color: #262626;
          color: white;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          width: 97px;
          white-space: wrap;
          font-size: 13px;
          span {
            color: #CA0100;
            font-size: 13px;
            font-weight: 5;
          }
        }
      }
    }
  }
  .notes2 {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {font-size: 22px;}
    span {font-weight: 700;}
  }
  .specs {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
    span {
      width: 94px;
      height: 30px;
      border: solid 1px #C2C2C4;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      font-size: 12px;
      p {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}