@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  font-size: 16px;
  white-space: nowrap;
}

.line1 {
  width: 100%;
  background-color: #EFF0F0;
  
  div {
    display: flex;
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  
  div div {
    align-items: center;
    gap: 4px;
    flex: 1;
    p, a {
      color: #737373;
      font-size: 14px;
    }
  }
}

.line2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 58px;
    gap: 2px;
  }
  .logo div h1 {
    font-size: 30px;
    font-weight: 500;
    transform: scaleY(0.7);
    line-height: 0.7;
    letter-spacing: -1px;
  }
  .logo .logo-text p {
    font-size: 12px;
    color: #737373;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  .guarantee {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    span {
      background-color: #CA0100;
      color: white;
      padding: 2px 8px;
      border-radius: 12px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    li a {
      color: #4F4F4F;
      text-decoration: none;;
      white-space: nowrap;
      font-size: 14px;
      &.active,
      &:hover { color: #CA0100; }
    }
  }

  .contact {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      div {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        h1 {
          font-size: 24px;
        }
        span {
          padding: 1px 8px;
          border-radius: 50px;
          font-weight: 500;
          color: white; 
          background-color: #CA0100;
        }
      }
    }
    button {
      background-color: #CA0100;
      color: white;
      border: none;
      border-radius: 6px;
      width: 210px;
      height: 50px;
      font-weight: 700;
      cursor: pointer;
      &:hover { background-color: #a00; }
    }
  }
}

.suggestions {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .menu {
    li { position: relative; }
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 96px;
    margin: 10 0;
    font-weight: bold;
  }
  .menu-btn {
    width: 100%;
    background: none;
    border: none;
    font: inherit;
    color: #262626;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    gap: 5px;
    &:hover { color: #CA0100; }
  }
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background: white;
    padding: 5px;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    &.show { display: block; z-index: 1;}
    li {
      padding: 5px 10px;
      white-space: nowrap;
      a {
        text-decoration: none;
        color: #262626;
        font-weight: normal;
        &:hover { color: #CA0100; }
      }
    }
  }
  .icons {
    display: flex;
    gap: 20px;
    .icon-wrapper {
      position: relative;
      font-size: 24px;
      color: #262626;
      .badge {
        position: absolute;
        top: -10px;   // adjust vertically
        right: -16px; // adjust horizontally
        background: #ca0100;
        color: #fff;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 20px;
      }
    }
  }
}

.sales-card {
  display: flex;
  width: 98%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(239, 240, 240, 0.6);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  .slider-content {
    display: flex;
    flex: 0 0 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  #car1 {
    width: 403;
    height: 242;
    transform: scaleX(-1);
    position: absolute;
    top: 180;
    right: 100;
  }
  #car2 {
    width: 507;
    height: 281;
    position: absolute;
    top: 198;
    right: 200;
  }
  #car3 {
    width: 785;
    height: 382;
    position: absolute;
    top: 192;
    right: 360;
  }
  #car4 {
    width: 680;
    height: auto;
    position: absolute;
    top: 220;
    right: 450;
    z-index: 2;
  }
  #car5 {
    transform: scaleX(-1);
    width: 630;
    height: auto;
    position: absolute;
    top: 180;
    right: 180;
    z-index: 1;
  }
  #car6 {
    transform: scaleX(-1);
    width: 440;
    height: auto;
    position: absolute;
    top: 220;
    right: 90;
    
  }
  #car7 {
    width: 400;
    height: auto;
    position: absolute;
    top: 165;
    right: 100;
    transform: scaleX(-1);
  }
  #car8 {
    width: 440;
    height: auto;
    position: absolute;
    top: 230;
    right: 250;
    z-index: 1;
  }
  #car9 {
    transform: scaleX(-1);
    width: 850;
    height: auto;
    position: absolute;
    top: 170;
    right: 370;
    z-index: 2;
  }
  .bg-photo {
    width: 1222px;
    height: 600px;
    border-radius: 0 25px 25px 0;
    position: absolute;
    right: 0;
    background: url("../assets/images/city.jpg");
    background-size: 110%;
    background-position: right top -160px;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: -1;
  }
  p {
    position: absolute;
    background-color: #CA0100;
    padding: 3 10;
    border-radius: 25;
    color: white;
    font-weight: 600;
    left: 9%;
    top: 100;
  }
  h1 {
    position: absolute;
    top: 150;
    left: 9%;
    font-size: 60;
    width: 800;
    height: 140;
    white-space: wrap;
  }
  span {
    position: absolute;
    top: 310;
    left: 9%;
    font-size: 26;
    color: #737373;
  }
  .left-arrow {
    position: absolute;
    font-size: 34;
    top: 283;
    left: 40;
    transform: rotateZ(90deg);
    cursor: pointer;
  }
  .right-arrow {
    position: absolute;
    font-size: 34;
    top: 283;
    right: 40;
    transform: rotateZ(-90deg);
    cursor: pointer;
  }
  .dots {
    position: absolute;
    bottom: 70;
    left: 9%;
    width: 70;
    height: 20;
    display: flex;
    justify-content: space-between;
    color: #8e8d8d;
    .active {
      color: white;
      border: solid #CA0100 4;
      border-radius: 25;
    }
  }
  .fade-up {
    opacity: 0;
    transform: translateY(5px);
    animation: fadeUp 0.5s ease-out forwards;
  }
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.brands-filter-container {
  width: 1400px;
  height: 370px;
  background-color: rgba(239, 240, 240, .6);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  .brands-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 40px;
    .brand-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      a {
        text-decoration: none;
        color: #4F4F4F;
        font-size: 14px;
        &:hover { color: #CA0100; }
      }
      .brand-logo {
        object-fit: contain;
        width: 38px;
        height: 38px;
      }
    }
  }
  .filter-container {
    padding: 6px;
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 20px 18px;
    }
    .labels {
      display: flex;
      justify-content: space-between;
      width: 464px;
      margin-left: 18px;
      #chosen-price {
        font-weight: 700;
        color: #262626;
      }
    }
    .input-values {
      position: relative;
      input[type="range"] {
        margin-left: 18px;
        width: 464px;
        margin-top: 10px;
        -webkit-appearance: none;
        height: 6px;
        border-radius: 3px;
        background: #E1E1E1;
        outline: none;
        cursor: pointer;
        &::-webkit-slider-thumb {
          appearance: none;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #CA0100;
          box-shadow: 0 0 2px rgba(0,0,0,0.5);
          transition: background 0.3s ease;
          position: relative;
          z-index: 2;
          &:hover { background: #a80000; }
          
        }
      }
      .fake-thumb {
        position: absolute;
        top: 6px;
        margin-left: 18px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #CA0100;
        pointer-events: none;
      }
      .price-markers {
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        .price-marker {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50px;
          gap: 4px;
          span {
            font-size: 12px;
            color: #737373;
          }
        }
      }
    }
    .selects {
      display: flex;
      justify-content: space-between;
      margin: 20px 18px 0 18px;
      .select-wrapper {
        position: relative;
        select {
          width: 230px;
          height: 65px;
          border: 1px solid #E1E1E1;
          border-radius: 6px;
          padding: 0 10px;
          color: #262626;
          background-color: white;
          cursor: pointer;
          appearance: none;
          &:hover { border-color: #CA0100; }
          option {
            color: #333;
            background-color: #fff;
          }
          option:hover {
            background-color: #f0f0f0; /* This works in some browsers like Firefox */
            color: #c02828;
          }
        }
        .select-icon {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 18px;
          pointer-events: none;
        }
      }
    }
    button {
      margin: 20px 18px 0 18px;
      width: 464px;
      height: 65px;
      background-color: #CA0100;
      color: white;
      border: none;
      border-radius: 6px;
      font-weight: 700;
      cursor: pointer;
      &:hover { background-color: #a00; }
    }
  }
}