@use "../assets/styles/mixins" as *;

.about-page-container {
  width: 924px;
  margin: 40px auto;
  @include flex($direction: column);

  .about-page-text {
    width: 924px;
    margin: 20px auto;
    font-size: 16px;
    text-align: center;
    white-space: normal;
    color: rgba(115, 115, 115, 1);
    line-height: 160%;
  }

  .image-container {
    width: 924px;
    height: 517px;
    margin: 20px auto;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
  }

  .video-player-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 41px 40px 39px 41px;
    border-radius: 50%;
    color: #fff;
    z-index: 2;
    cursor: pointer;

    background: radial-gradient(
      circle,
      rgba(202, 1, 0, 1) 30%,
      transparent 70%
    );
  }
}
