@import '../../assets/styles/mixins.scss';

.review-card {
  @include flex(space-between, flex-start, column, 12px);
  width: 327px;
  height: 145px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(133, 147, 159, 0.25);
  padding: 16px;
  // margin: 40px auto;
  .review-card-heading p {
    font-size: 18px;
    color: rgba(173, 173, 176, 1);
  }
  .review-content {
    width: 100%;
    font-size: 14px;
    @include flex(space-between, center);
    span {
      width: 40px;
      height: 24px;
      color: white;
      background-color: rgba(85, 188, 107, 1);
      border-radius: 4px;
      font-size: 20px;
      text-align: center;
      margin-left: 8px;
    }
  }
}

.stars {
  color: rgba(255, 184, 0, 1);
}