@import '../../assets/styles/mixins.scss';

.review-card {
  @include flex(space-between, flex-start, column, 12px);
  width: 327px;
  height: 145px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(133, 147, 159, 0.25);
  padding: 16px;
  // margin: 40px auto;
  .review-card-heading p {
    font-size: 18px;
    color: rgba(173, 173, 176, 1);
  }
  .review-content {
    width: 100%;
    font-size: 14px;
    @include flex(space-between, center);
    span {
      width: 40px;
      height: 24px;
      color: white;
      background-color: rgba(85, 188, 107, 1);
      border-radius: 4px;
      font-size: 20px;
      text-align: center;
      margin-left: 8px;
    }
  }
}

.stars {
  color: rgba(255, 184, 0, 1);
}

.big-review-card {
  width: 447px;
  // height: 585px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 25px;
  overflow: hidden;
}

.big-review-card-content {
  width: 100%;
  padding: 30px;
  @include flex(space-between, flex-start, column, 12px);
  p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    color: rgba(115, 115, 115, 1);
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    @include ellipsis(5);
    &.expanded {
      display: block;
      -webkit-line-clamp: unset
    }
  }
  .more-link {
    @include flex(space-between, center);
    width: 188px;
    height: 36px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    background-color: rgba(225, 225, 225, 1);
    user-select: none;
    &:hover {
      background-color: #A9A9AB;
    }
  }
}