@mixin flex($justify: flex-start, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align; 
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-center($direction: row, $gap: 0) {
  @include flex(center, center, $direction, $gap);
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ellipsis($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}