@import "../../assets/styles/mixins.scss";

.autosalon-container {
  width: 1400px;
  margin: 40px auto;
  div {
    width: 300px;
    margin: 100px 0 60px 0;
    @include flex(space-between, center);
    a {
      position: relative;
      text-decoration: none;
      color: black;
      font-weight: 700;
      transition: color 0.3s ease;
      &:hover, &.active {
        color: rgba(202, 1, 0, 1);
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 0%;
        height: 3px;
        background-color: rgba(202, 1, 0, 1);
        transition: width 0.3s ease;
      }
      &:hover::after, &.active::after {
        width: 100%;
      }
    }
  }
  p {
    margin-top: 20px;
    white-space: normal;
    color: rgba(115, 115, 115, 1);
    line-height: 150%;
  }
}