@import "../../assets/styles/mixins.scss";

.about-page-container {
  width: 1400px;
  margin: 30px auto;

  hr {
    background-color: rgb(239, 240, 240);
    margin: 30px 0 50px 0;
    opacity: 0.5;
  }

  p {
    white-space: normal;
    line-height: 24px;
    color: rgb(79, 79, 79);
  }

  .text-with-dots {
    margin: 25px 0;
    div {
      @include flex(flex-start, center, row, 20px);
    }
  }

  .autoSalonPhotos-slider-container {
    display: flex;
    width: 1400px;
    gap: 30px;
    margin: 20px auto;
    border-radius: 25px;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: grab;
    &::-webkit-scrollbar {
      display: none;
    }
    img {
      border-radius: 25px;
    }
  }

  .handle-btns {
    display: flex;
    gap: 10px;
  }

  .picks-btn {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #f0f0f0;
    }
  }

  .russia-map-container {
    margin-top: 60px;
    width: 1400px;
    height: 652px;
    background-color: #F8F8F8;
    border-radius: 25px;
    @include flex(space-evenly, center);
    div {
      width: 310px;
      h1 { height: 270px; font-size: 252px; color: #CA0100; }
      h6 { font-size: 28px; color:#CA0100; text-align: center; font-weight: 400;}
      div {
        margin-top: 40px;
        @include flex();
        div {
          @include flex(center, center, column);
          h3 { font-weight: 400; font-size: 24px;}
          p { font-size: 24px; color: #ADADB0; }
          span {
            @include flex(center);
            margin-bottom: 12px;
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background-color: black;
            color: white;
          }
        }
      }
    } 
  }

  .partners-slider-container {
    margin-bottom: 100px;
  }
}