@import '../../assets/styles/mixins.scss';

.family-picks-card {
  width: 447px;
  height: 317px;
  padding: 20px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  @include flex(space-between, flex-end, row);
}

.family-picks-heading {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  white-space: wrap;
}
