.picks-btn {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #f0f0f0;
  }
}

.slider-container {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
  display: none;
}