.car-cards-header {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0;
}

.car-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 20px;
  width: 75%;
  margin: 0 auto;
}