.picks-btn {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #f0f0f0;
  }
}

.slider-container {
  display: flex;
  width: 1400px;
  gap: 30px;
  margin: 20px auto;
  border-radius: 25px;
  overflow-x: scroll;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: grab;
  &::-webkit-scrollbar {
    display: none;
  }
}

.handle-btns {
  display: flex;
  gap: 10px;
}