@import "../../assets/styles/mixins.scss";

.blog-card-container {
  width: 328px;
  overflow: hidden;
  @include flex(space-between, flex-start, column);
  img {
    width: 328px;
    height: 202px;
    border-radius: 25px;
  }
  span {
    color: rgba(173, 173, 176, 1);
    font-size: 14px;
    margin-top: 20px;
  }
  p {
    width: 268px;
    font-size: 16px;
    font-weight: 700;
    white-space: normal;
    margin-top: 10px;
  }
}