* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.brands-filter-container {
  width: 1400px;
  height: 370px;
  background-color: rgba(239, 240, 240, .9);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}