@import '../../assets/styles/mixins.scss';

.filter-container {
    padding: 6px;
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 20px 18px;
    }
    .labels {
      @include flex(space-between, center);
      width: 464px;
      margin-left: 18px;
      #chosen-price {
        font-weight: 700;
        color: #262626;
      }
    }
    .input-values {
      position: relative;
      input[type="range"] {
        margin-left: 18px;
        width: 464px;
        margin-top: 10px;
        -webkit-appearance: none;
        height: 6px;
        border-radius: 3px;
        background: #E1E1E1;
        outline: none;
        cursor: pointer;
        &::-webkit-slider-thumb {
          appearance: none;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #CA0100;
          box-shadow: 0 0 2px rgba(0,0,0,0.5);
          transition: background 0.3s ease;
          position: relative;
          z-index: 2;
          &:hover { background: #a80000; }
          
        }
      }
      .fake-thumb {
        position: absolute;
        top: 6px;
        margin-left: 18px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #CA0100;
        pointer-events: none;
      }
      .price-markers {
        @include flex(space-between, center);
        margin-top: 4px;
        .price-marker {
          @include flex(center, center, column, 4px);
          width: 50px;
          span {
            font-size: 11px;
            color: rgba(173, 173, 176);
          }
        }
      }
    }
    .selects {
      @include flex(space-between, center);
      margin: 20px 18px 0 18px;
      .select-wrapper {
        position: relative;
        select {
          width: 230px;
          height: 65px;
          border: 1px solid #E1E1E1;
          border-radius: 6px;
          outline: none;
          padding: 0 10px;
          color: #262626;
          background-color: white;
          cursor: pointer;
          appearance: none;
          &:hover, &:focus-within { border-color: #CA0100; }
          option {
            color: #333;
            background-color: #fff;
          }
          option:hover {
            background-color: #f0f0f0; /* This works in some browsers like Firefox */
            color: #c02828;
          }
        }
        .select-icon {
          position: absolute;
          right: 12px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 18px;
          pointer-events: none;
        }
      }
    }
  }