.custom-button {
    background-color: #CA0100;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
    
    &:hover {
        background-color: #a00;
    }
}